.container {
    margin-top: 100px;
}

#login-page {
    width: 500px;
}

.login-form{
    padding: 40px;
}

.welcomeText{
    text-align: center;
}

.register{
    margin-top: 20px;
}

.or{
    text-align: center;
}

.googleBtn{
    display: flex;
    justify-content: center;
}

.card {
    position: absolute;
    left: 50%;
    top: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}